figure {
    margin: 20px;
}

figcaption h4 {
    font-size: medium;
    font-style: italic;
    font-weight: normal;
}

figure.right-surrounded {
    float: right
}

figure.left-surrounded {
    float: left
}

.social ul li {
    list-style: none;
}

.social .fa {
    display: none;
}

img.social-icon {
    display: inline;
    vertical-align: middle;
}

.post-holder {
    display: flow-root;
}